<html>
    <head>
        <title>TODO-lista</title>
    </head>
    <body>
        <h1>tehtävät</h1>
        moi<br>
        hei<br>
        terve<br>
        <h2>alaotsikko</h2>
        <h3>alaotsikon alaotsikko</h3>

        Tekstiä voi kirjoittaa sellaisenaan!
        {# tämmönen kommentti #}
        
        {% comment %}
        monirivinen kommentti
        {% endcomment %}
        
        <ul>
            <li>tehtävä 1</li>
            <li>tehtävä 2</li>
        </ul>
    </body>
    </html>